@model IEnumerable<Lecturer>

@{
    ViewData["Title"] = "Lecturer List";
}

<h2>Lecturer List</h2>
<hr>
<a asp-controller="Lecturer" asp-action="Create" class="btn btn-primary mb-3">Create Lecturer</a>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(m => m.LecturerId)</td>
            <td>@Html.DisplayNameFor(m => m.LecturerName)</td>
            <td>@Html.DisplayNameFor(m => m.Email)</td>
            <td>@Html.DisplayNameFor(m => m.PhoneNumber)</td>
            <td>@Html.DisplayNameFor(m => m.startDate)</td>
            <td style="width: 150px;"></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(m => item.LecturerId)</td> 
                <td>@Html.DisplayFor(m => item.LecturerName)</td> 
                <td>@Html.DisplayFor(m => item.Email)</td> 
                <td>@Html.DisplayFor(m => item.PhoneNumber)</td> 
                <td>@Html.DisplayFor(modelItem => item.startDate)</td> 
                <td>
                    <a asp-controller="Lecturer" asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.LecturerId">Edit</a>
                    <a asp-controller="Lecturer" asp-action="Delete" asp-route-id="@item.LecturerId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>