@model IEnumerable<Student>
    
@{
    ViewData["Title"] = "Student List";
}
<h2>Student List</h2>
<hr>
<a asp-controller="Student" asp-action="Create" class="btn btn-primary mb-3">Create Student</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(m => m.StudentId)</td>
            <td>@Html.DisplayNameFor(m => m.StudentName)</td>
            <td>@Html.DisplayNameFor(m => m.Email)</td>
            <td>@Html.DisplayNameFor(m => m.PhoneNumber)</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(m => item.StudentId)</td>
                <td>@Html.DisplayFor(m => item.StudentName)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.StudentId">Edit</a>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>