@model IEnumerable<Course>
    
    @{
        ViewData["Title"] = "Course List";
    }
    <h2>Course List</h2>
    <hr>
    <a asp-controller="Course" asp-action="Create" class="btn btn-primary mb-3">Create Course</a>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CourseId)</td>
                <td>@Html.DisplayNameFor(m => m.CourseName)</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@Html.DisplayFor(m => item.CourseId)</td>
                    <td>@Html.DisplayFor(m => item.CourseName)</td>
                    <td>
                        <a asp-controller="Course" asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.CourseId">Edit</a>
                        <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>